fastapi
uvicorn
pydantic
ipykernel
streamlit
streamlit_extras
ollama
langgraph
langchain
langchain_ollama
langchain_groq
langchain_huggingface
langchain_google_genai
langchain_openai
langchain_community
langchain_experimental
langchain_neo4j
pandas
youtube-transcript-api
youtube-search
pytubefix
neo4j
mlflow