ipykernel
python-dotenv
streamlit
streamlit_extras
ollama
langgraph
langsmith
langchain
langchain_ollama
langchain_groq
langchain_huggingface
langchain_google_genai
langchain_openai
langchain_community
langchain_experimental
langchain_qdrant
langchain_neo4j
pandas
bs4
stqdm
youtube-transcript-api
youtube-search
pytubefix
neo4j
networkx
plotly
pyvis